{% extends 'Clientes/home.html' %}


{% block titulo %}
    <h1> Medios de Pagos</h1>
{% endblock titulo %}   

{% block contenido %}
    <table>
        <tr>
            <td width="200"><h5>Agregar Medio de Pago</h5></td>
            <td>
                <a
                href="{% url 'mediosPago_create' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="Crear"> </i>
                </a>
            </td>
        </tr>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tarjeta de Credito</th>
                <th>Tarjeta de Debito</th>
                <th>Transferencia</th>
                <th>Efectivo</th>
            </tr>
        </thead>
        <tbody>
    {% for p in pago_list  %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.tarjetaCredito }}</td>
                <td>{{ p.tarjetaDebito }}</td>
                <td>{{ p.transferencia }}</td>
                <td>{{ p.efectivo }}</td>
                <td>
                    <a
                      href="{% url 'mediosPago_update' p.id %}"   
                      class="btn btn-warning"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                      href="{% url 'mediosPago_delete' p.id %}"   
                      class="btn btn-danger"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>                
                  </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}